/.venv
/venv
/.out
*.png
*.csv
*.sqlite3
*.pyc
.json
__pycache__/*
*.pyc
*.pyo
.vscode/
/pycache/*
/out
*.ipynb
*.env
/form_tests/*
*.sql
/backups/*
/java-service/target/
/java-service/target/dependency/
/java-service/lib/
/prom-lite-1.4-all-platforms/
/m2-local/
/.m2-local/
!/frontend-service/package.json
/optimization-service/reports/*
logs/services.log
pm_site/pm_app/logs/*
/event_logs/*.xes
