{% extends 'main.html' %}
{% load static %}

{% block tituloPagina %}Importar Configuración desde JSON{% endblock %}

{% block contenido %}


<link rel="stylesheet" href="{% static 'css/style-json_import.css' %}">
<div class="form-container">
    <h2>Import Execution Configuration</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.json_file.label_tag }}
            {{ form.json_file }}
        </div>
        <div class="text-center"> 
            <button type="submit" class="btn btn-primary">Import</button>
        </div>
    </form>

    {% if messages %}
        <div class="mt-4">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
