{% extends 'main.html' %}
{% load static %}
{% block contenido %}
<div class="container mt-5">
    <link rel="stylesheet" href="{% static 'css/style-manual.css' %}">
    <h1 class="text-center">Information</h1>

    <h2 class="mt-5 text-center">Process Discovery</h2>
    <p>
        The <strong>Discovery</strong> section is probably the first one every user interacts with. Through it, users can carry out the discovery process using the appropriate form. Its fields are:
    </p>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>The name you want to assign to the execution.</td>
            </tr>
            <tr>
                <td>Optimization Method</td>
                <td>Select the optimization algorithm to use. Available options are the evolutionary algorithms NSGAII, NSGAIII, and SPEA2.</td>
            </tr>
            <tr>
                <td>Miner Type</td>
                <td>Select the process discovery algorithm to use. Available options are the Heuristic Miner and Inductive Miner.</td>
            </tr>
            <tr>
                <td>Event Log</td>
                <td>The log that contains event information used in the discovery process. Only logs uploaded by the user to the application will be listed.</td>
            </tr>
            <tr>
                <td>Evaluation Metrics</td>
                <td>This field allows the user to select the metrics used to evaluate the results of the discovery process. Currently, two metrics are implemented, but basic ones are recommended.</td>
            </tr>
            <tr>
                <td>Hyperparameters</td>
                <td>Each optimization algorithm has its own hyperparameters. When an optimizer is selected, a dropdown will appear to specify the desired values, which will vary depending on the chosen optimizer.</td>
            </tr>
        </tbody>
    </table>

    <h3 class="mt-5 text-center">Evaluation Metrics</h3>
    <p>
        These define how the discovered models are evaluated and are used throughout the optimization process to refine results. All metrics are set to <strong>minimize</strong>. Below are the implemented metrics.
    </p>

    <p>
        All discovered models are Petri nets. An example image is shown below. More information is available on <a href="http://petrinet.org/">this page</a>.
    </p>

    <img src="{% static 'petri-ejemplo.png' %}" alt="Petri Net Example" class="petri-ejemplo img-fluid mx-auto d-block mt-4">

    <h4>Basic Metrics</h4>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Metric</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>n places</td>
                <td>Number of places (circles in the Petri net) represented.</td>
            </tr>
            <tr>
                <td>n transitions</td>
                <td>Number of transitions (rectangles in the Petri net) represented.</td>
            </tr>
            <tr>
                <td>n arcs</td>
                <td>Number of arcs connecting places and transitions.</td>
            </tr>
            <tr>
                <td>cycl complx</td>
                <td>Cyclomatic complexity measures the number of independent paths in a network, inspired by flow graph theory in software complexity.</td>
            </tr>
            <tr>
                <td>ratio</td>
                <td>Place-to-transition ratio.</td>
            </tr>
            <tr>
                <td>joins</td>
                <td>A join occurs when multiple places connect to a transition. This metric counts how often it happens.</td>
            </tr>
            <tr>
                <td>splits</td>
                <td>A split occurs when a transition connects to multiple places. This metric counts how often it happens.</td>
            </tr>
        </tbody>
    </table>

    <p>
        Usability metrics differ slightly. While the solutions are still evaluated as in basic metrics, the usability metrics add rules or constraints to the models. If a model breaks one of these rules, it is considered not useful and is penalized accordingly.
    </p>

    <h4>Usability Metrics</h4>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Metric</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>IS AP</td>
                <td>Whether the graph is aperiodic or not.</td>
            </tr>
            <tr>
                <td>NSFE</td>
                <td>Total number of outgoing event flows.</td>
            </tr>
            <tr>
                <td>GM</td>
                <td>Difference between incoming and outgoing flows.</td>
            </tr>
        </tbody>
    </table>

    <h2 class="mt-5 text-center">Solutions</h2>
    <ul>
        <li>
            At the end of the discovery process, a table will be displayed showing most execution details. Clicking on <strong>'Explore Solutions'</strong> will open a new page with all the optimizer's solutions.
        </li>
        <li>
            The number of solutions depends on the population size set for the optimizer. For example, if set to 100, there will be 100 individuals (solutions) evolved into something useful.
        </li>
        <li>
            For each solution, <strong>Variables</strong> and <strong>Objectives</strong> are displayed:
            <ul>
                <li><strong>Variables:</strong> The hyperparameters used by the selected miner to generate the solution.</li>
                <li><strong>Objectives:</strong> The evaluation metric values. When using <strong>basic</strong> metrics, there will be 7 fields showing these values.</li>
            </ul>
        </li>
        <li>
            Each individual solution includes an image of the discovered Petri net, the result of running the mining algorithm with the specified hyperparameters (its variables).
        </li>
    </ul>

    <h2 class="mt-5 text-center">Pareto Front</h2>
    <p>
        Although we may have as many solutions as individuals in the population, only a few will be the <strong>best</strong>. From a mathematical (metric) perspective, the best solutions are the <strong>non-dominated solutions</strong>.
    </p>

    <p>
        In multi-objective optimization, a solution is said to dominate another if it is better in at least one objective and at least equal in the rest. Therefore, the best solutions are those that are not dominated. This set of solutions is called the <strong>Pareto Front</strong>.
    </p>

    <p>
        Besides filtering solutions that belong to the Pareto front, a chart will also be displayed showing the magnitude of each objective in the Pareto solutions, helping visualize the non-dominance between them.
    </p>

    <img src="{% static 'pareto-ejemplo.png' %}" alt="Pareto Chart Example" class="pareto-ejemplo img-fluid mx-auto d-block mt-4">
</div>

{% endblock %}
