{% extends 'main.html' %}
{% load static %}
{% block contenido %}

<link rel="stylesheet" href="{% static 'css/style-solution_details.css' %}">
<div class="container mt-5">
    <div class="form-container">
        <h1 class="text-center">Solution Details <strong>{{ solution.id }}</strong></h1>

        <div class="mt-3 text-center">
            <a href="{% url 'solutions' execution.id %}" class="btn btn-primary">Back to Solutions</a>
        </div>

        <div class="form-container mt-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="{{ miner_params_names|length }}" class="text-center">Miner Hyperparameters {{ execution.miner }}</th>
                    </tr>
                    <tr>
                        {% for param in miner_params_names %}
                            <th>{{ param }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for variable in solution.variables %}
                            <td>{{ variable|floatformat:2 }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="{{ miner_params_names|length }}" class="text-center">Metrics</th>
                    </tr>
                    <tr>
                        {% for metric in metrics_labels %}
                            <th>{{ metric }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for objective in solution.objectives %}
                            <td>{{ objective|floatformat:2 }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 
        <div class="petri-sol">
            <img class="img-fluid mx-auto d-block mt-4" src="data:image/png;base64,{{ petri_net_image_base64 }}" alt="Petri Net of the solution" >
        </div>
        -->

        <!-- Pass data from Django to JavaScript -->
        <script id="petri-data" type="application/json">
            {
                "places": {{ places|safe }},
                "transitions": {{ transitions|safe }},
                "arcs": {{ arcs|safe }}
            }
        </script>

        <div class="container mt-5">
            <h1 class="text-center">Model</h1>
        
            <!-- Graph will be displayed here -->
            <div class="form-container" id="cy">

            </div>
        </div>

        <!-- Cytoscape.js -->
        <script src="https://unpkg.com/cytoscape@3.23.0/dist/cytoscape.min.js"></script>

        <!-- Layouts (for left-to-right directed layout) -->
        <script src="https://unpkg.com/dagre@0.8.5/dist/dagre.min.js"></script>
        <script src="https://unpkg.com/cytoscape-dagre/cytoscape-dagre.js"></script>

        <script src="{% static 'js/petriVis.js' %}"></script>

        <table id="bottom-details" class="table table-bordered">
            <tbody>
                <tr>
                    <td><strong>Execution:</strong></td>
                    <td>{{ execution.id }} - {{ execution.name }}</td>
                </tr>
                <tr>
                    <td><strong>Miner:</strong></td>
                    <td>{{ execution.miner }}</td>
                </tr>
                <tr>
                    <td><strong>Log:</strong></td>
                    <td>{{ execution.path_events_log }}</td> 
                </tr>
                <tr>
                    <td><strong>Metrics:</strong></td>
                    <td>{{ execution.metrics }}</td>
                </tr>
                <tr>
                    <td><strong>Optimizer:</strong></td>
                    <td>
                        {% if solution.execution.optimizer %}
                            {{ solution.execution.optimizer.name }} 
                        {% else %}
                            No optimizer found
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="mt-3 text-center">
            <a href="{% url 'solutions' execution.id %}" class="btn btn-primary">Back to Solutions</a>
        </div>
    </div>
</div>
{% endblock %}
