.form-container {
    max-width: 90rem; 
    margin: 0 auto; 
    padding: 2rem; 
    border: 0.2rem solid rgb(199, 233, 255); 
    border-radius: 0.5rem; 
    background-color: #f8f9fa; 
    box-shadow: 0rem 4rem 8rem rgba(0, 0, 0, 0.1); 
}

.form-container h1 {
    margin-bottom: 1.5rem; 
}

.form-container .btn {
    margin-top: 1rem;
}

.petri-sol{
    border: 0.2rem solid rgb(199, 233, 255); 
    border-radius: 0.8rem; 
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.1);
    max-width: 60%; 
    margin: 5rem auto; 
}

#bottom-details{
    margin-top: 4rem;
}

body {
    padding-bottom: 2.8rem;
}


#cy {
    height: 40rem; /* Ajusta según necesites */
}