.form-container {
    max-width: 90rem;
    padding: 2rem; 
    border: 0.2rem solid rgb(199, 233, 255); 
    border-radius: 0.5rem;
    background-color: #f8f9fa;
    box-shadow: 0rem 4rem 8rem rgba(0, 0, 0, 0.1);
    height: 80vh;
}

.form-container h2 {
    margin-bottom: 1.5rem;
}

.form-items{
    display: flex;
    flex-direction: column;
    align-items :start;
    justify-content: start;
    gap: 0.2rem;
    
}

.form-items > div {
  width: 100%;
}

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items :center;
    gap: 1.4rem;
}

.analysis-container{

    display: flex;
    align-items :start;
    justify-content: center;
    gap: 1rem;              
    padding: 1rem;
    width: 100vw;
    
}

.formu{
    flex: 0 0 20%;
}

.plot{
    flex: 0 0 80%;
    padding: 0rem;
}

.form-container.plot .plotly-graph-div,
.form-container.plot .js-plotly-plot,
.form-container.plot .plot-container {
    height: 100% !important;
    width: 100% !important;
}

.form-container.plot > div {
    height: 100% !important;
    width: 100% !important;
}