.navbar{
    background-color: rgb(199, 233, 255); 
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.2);
}

.navbar .nav-link:hover {
    color: #007bff; 
}

.navbar .nav-item {
    margin-right: 0.8rem; 
}

.logo-custom {
    width: 1.5rem;   
    height: auto;  
    margin-right: 0.5rem; 
    vertical-align: middle;
    
}